__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/
.eggs/
*.egg-info/
build/
dist/
.idea/
.vscode/
games/game_2048/.player_data.json
games/game_snake/.player_data.json
games/game_minesweeper/.player_data.json
games/game_tetris/.player_data.json
